extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1=title

        p.lead.text-light=description
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        - var tech= techArray
        ul
          each val in tech
            li= val
        
        - var liveUrl = live_link
        - var gitUrl = github_link
        a.button.expanded(href=liveUrl target="_blank") Live Demo
        a.button.expanded(href=gitUrl target="_blank") GitHub Repo
    
    - var images= image_landscape
    each pic in images
      img(src=pic class="landscape")


